/* Configurações gerais */
body {
  margin: 0;
  padding: 0;
  font-family: 'Parisienne', serif;
  background: url('fotos/lua.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  text-align: center;
}

/* Estilo do contêiner principal */
#container {
  width: 400px;  /* Definindo a largura fixa */
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  position: relative;
  min-height: 100px;
}

/* Estilo da imagem principal */
#main-image {
  width: 200px;
  height: 200px;
  border-radius: 15px; /* Borda arredondada com valor menor */
  border-color: white;
  object-fit: cover;
  margin: 10px auto;
  display: block;
}

/* Estilo do título */
h1 {
  font-size: 24px;
  margin: 10px 0;
}

/* Estilo do contador */
#counter {
  font-size: 24px;
  margin: 10px 0;
}

/* Estilo da data abaixo do contador */
#date {
  font-size: 18px;
  margin-top: -5px;
  opacity: 0.8;
}

/* Estilo dos botões de seta */
.arrow {
  background: transparent;
  border: 2px solid white;
  border-radius: 50%;
  color: white;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
}

.arrow:hover {
  background: white;
  color: black;
}

/* Estilo do botão "Coming soon..." */
#coming-soon {
  background: none;
  border: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 10px;
  opacity: 0.8;
}

#coming-soon:hover {
  opacity: 1;
}

/* Responsividade para telas pequenas (celulares) */
@media (max-width: 600px) {
  body {
    flex-direction: column; /* Certifica que os elementos se alinham em coluna */
  }

  h1 {
    font-size: 18px !important;
  }

  #counter {
    font-size: 16px !important;
  }

  #date {
    font-size: 14px !important;
  }

  #main-image {
    width: 120px !important;
    height: 120px !important;
  }

  #container {
    max-width: 95% !important;
    padding: 10px !important;
    min-height: 250px !important;
  }

  .arrow {
    padding: 6px !important;
    font-size: 14px !important;
  }

  #coming-soon {
    font-size: 10px !important;
  }
}
